* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

.grid {
  display: flex;
  flex-direction: row;
  /* border: 1px solid grey; */
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.cell {
  width: 11.11%;
  height: 11.11%;
  border: 1px solid grey;
}



.grass {
  background-color: green;
}

.road {
  background-color: black;
}

.water {
  background-color: blue;
}

.pad {
  background-color: yellow;
}

.car {
  background-color: pink;
}

.car2 {
  background-color: purple;
}

.log {
  background-color: saddlebrown;
}

.frog {
  background-color: red;
}

.frogpad {
  background-color: skyblue;
}